@model IEnumerable<Prectice1.Models.Product>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoodCategory.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantInfo.RestaurantName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodCategory.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantInfo.RestaurantName)
            </td>
            <td>
                <a href="#" class="btn btn-success" onclick="Edit(@item.ProductID)">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>|
                @* @Html.ActionLink("Details", "Details", new { id = item.RestaurantInfos.RestaurantID }) |*@

                <a href='@Url.Action("Delete", new {id = @item.ProductID,cid=item.CategoryId})' class="btn btn-danger" onclick="return confirm('Are you sure want to delete?');">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>|
                <a href='@Url.Action("Create","Product", new {id = @item.CategoryId})' class="btn btn-primary" onclick="return confirm ('Are you sure! You want to redirect to Create Product?');">
                    Create Product
                </a>
            </td>
        </tr>
    }


    <div class="modal fade" id="myModal1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Edit Restaurant</h3>
                </div>
                <div class="modal-body" id="myModalBodyDiv1">



                </div>


            </div>

        </div>

        <input type="hidden" id="hiddenRestaurantId" />
    </div>
</table>

<script>

    var Edit = function (productId) {

        var url = "/Product/Edit/" + productId;

        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal1").modal("show");

        })

    }
</script>