@model IEnumerable<Prectice1.Models.PersonalInfo>

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PersonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pincode)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile_No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pincode)
            </td>
            <td>
                <a href="#" class="btn btn-success" onclick="Edit(@item.PersonlId)">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>|
                
                <a href="@Url.Action("Delete", new {id = @item.PersonlId})" class="btn btn-danger" onclick="return confirm ('Are you sure want to delete blog?');">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
    }
    <div class="modal fade" id="myModal1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Edit PersonalInfo</h3>
                </div>
                <div class="modal-body" id="myModalBodyDiv1">



                </div>


            </div>

        </div>

        <input type="hidden" id="hiddenPersonId" />

</table>

<script>

    var Edit = function (personId) {

        var url = "/PersonalInfo/Edit/" + personId;

        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal1").modal("show");

        })

    }
</script>
